@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/pragmatica-black.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/pragmatica-bold-italic.woff2')
    format('woff2');
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Respect';
  src: url('/fonts/respect-bold-001-001.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}
