/* Пример стилей для разных вариантов */
.button {
  font-weight: bold;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.checkbox {
  font-size: 12px;
}

/* Стиль для разбивки текста в две строки */
.doubleLine {
  display: block; /* чтобы было в две строки */
  white-space: pre-line; /* сохраняет перенос строки */
  word-break: break-word; /* перенос длинных слов */
  line-height: 1.2em; /* регулируем высоту строки по желанию */
}